@{
    ViewBag.Title = "CONFIRME SU CORREO";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("CLICK AQUÍ PARA INICIAR", "INICIAR SESIÓN", "CUENTAS", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
